*.buildlog
*.img
*.iso
*.list
*.md5sum
*.packages
*~
.*~
.build/
binary/
cache/
chroot/
config/binary
config/bootstrap
config/chroot
config/common
config/source
chroot.packages.*
binary.*
ruby_live-binary-*
