[Desktop Entry]
Version=1.0
Name=ruby-refm-1.9.3-20120829.chm
Comment=Show ruby-refm-1.9.3-20120829.chm
Icon=x-office-document
Name[ja_JP]=ruby-refm-1.9.3-20120829.chm
Comment[ja_JP]='ruby-refm-1.9.3-20120829.chm' を開きます
Icon[ja_JP]=x-office-document
Exec=/usr/bin/xchm ~/Desktop/ruby-refm-1.9.3-20120829.chm
TryExec=/usr/bin/xchm
Type=Application
Terminal=false
